/* 
<font>
font-family: 'Poetsen One';
font-family: 'Cafe24Oneprettynight';
font-family: 'Pretendard';
*/

@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

img,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #02012A;

}

body {
    font-family: 'Pretendard';
    font-size: 15px;
    line-height: 100%;
    color: #02012A;
    min-width: 1450px;
}

/* cursor */

body,
html {
    cursor: url(../images/cursor1.cur), auto
}

a {
    cursor: url(../images/cursor2.cur), auto
}


/* scroll-bar */

body::-webkit-scrollbar {
    width: 20px;
    background-color: #DCE7F2;
}

body::-webkit-scrollbar-thumb {
    background-color: #1a3a6b;
}

/* animation */

@keyframes move2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translatey(-10px);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -3500px;
    }
}

@keyframes text_animation {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -3800px;
    }
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

@keyframes fave-heart {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -2800px 0;
    }
}

/* header */

#header {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 25px 20px;
    position: relative;
}

.gnb {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gnb li {
    padding-right: 10px;
}

.gnb li:nth-child(7) {
    padding-right: 0px;

}

.gnb li a {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
}


/* sub_menu  */

.sub_menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    width: 100%;
    background-color: #1a3a6b;
    opacity: 90%;
    border-radius: 0 0 20px 20px;
    display: flex;
    text-align: center;
    box-sizing: border-box;
}

.sub_menu ul {
    padding: 20px 0;
}

.sub_menu ul li a {
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 20px 0;
}

.sub_menu ul:first-child li a {
    width: 150px;
}

.sub_menu ul:first-child {
    padding-left: 10px;
}

.sub_menu ul:nth-child(2) li a {
    width: 115px;
}

.sub_menu ul:nth-child(2) {
    padding-left: 30px;
}

.sub_menu ul:nth-child(3) li a {
    width: 130px;
}

.sub_menu ul:nth-child(3) {
    padding-left: 40px;
}

.sub_menu ul:nth-child(4) li a {
    width: 130px;
}

.sub_menu ul:nth-child(4) {
    padding-left: 425px;
}


.sub_menu ul:nth-child(5) li a {
    width: 180px;
}

.sub_menu ul:nth-child(5) {
    padding-left: 10px;
}

.sub_menu ul li a:hover {
    background: url(../images/sub_hover.png) no-repeat 38% center;
}

.sub_menu ul:nth-child(2) li a:hover {
    background: url(../images/sub_hover.png) no-repeat center center;
}

.sub_menu ul:nth-child(5) li a:hover {
    background: url(../images/sub_hover.png) no-repeat 45% center;
}


/* search2 */

.search2 {
    background: #fff;
    width: 100%;
    height: 277px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 210;
    display: none;
}

.search_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.engine {
    width: 550px;
    border-style: none;
    font-size: 20px;
    border-bottom: 1px solid rgba(70, 70, 74, 0.3);
    line-height: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 95px;
    padding-left: 10px;
    box-sizing: border-box;
}

.engine::placeholder {
    letter-spacing: -1.5px;
    font-weight: 500;
    color: #000;
}

.btn_sch img {
    position: absolute;
    top: 40%;
    left: 63%;
    cursor: pointer;
}

.x2 {
    position: absolute;
    top: 18%;
    right: 15.5%;
}

/* main_banner */

.tab_container .tab_content img {
    width: 100%;
}

.main_banner {
    margin-top: 85px;
    position: relative;
}

.tab_container {
    position: relative;
}

.tab_container p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main_banner .tabs {
    display: flex;
    position: absolute;
    top: 637px;
    right: 530px;
    z-index: 20;
}

.tabs li {
    padding-left: 10px;
    font-size: 23px;
    line-height: 100%;
    font-weight: 400;
}

.tabs li a {
    color: #43dcb6;
}

.tabs li.active a {
    font-weight: 800;
}


/* notice */

#notice {
    padding: 130px 0;
}

.notice_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.title {
    color: #1a3a6b;
    font-size: 50px;
    line-height: 100%;
    font-weight: 700;
}

#notice h1 {
    padding-bottom: 20px;
}

.n_box {
    padding: 30px 15px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.box_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_inner:hover a {
    background-color: #97cff1;
}

.box_inner a {
    width: 1190px;
    padding: 10px;
    box-sizing: border-box;
}


.dbox {
    display: flex;
    justify-content: space-between;
}

.dbox li:nth-child(1) {
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
}

.dbox li:nth-child(1) span {
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    padding-right: 10px;
}

.dbox li:nth-child(2) {
    font-size: 17px;
    font-weight: 500;
    line-height: 100%;
    padding-left: 10px;
}

.box_inner {
    margin-bottom: 20px;
}

.box_inner:nth-child(3) {
    margin-bottom: 0;
}

.more {
    position: absolute;
    top: -25px;
    right: -90px;
}

.more a {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    animation: rotation 5s infinite linear;
}

.more a:hover .circle {
    animation-play-state: paused;
}

.more a {
    display: inline-block;
    border-radius: 50%;
}

/* newsletter */

.flow_textbox {
    overflow: hidden;
    width: 100%;
}

.slide {
    display: flex;
    justify-content: space-around;
    width: 3800px;
}

.text_wrapper {
    display: flex;
    width: 7600px;
    /* .slide길이의 최소 2배(이상도 가능) */
    animation: text_animation 10s linear infinite;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: ""
}



#letter {
    background-color: #1a3a6b;
    margin-top: 15px;
    height: 860px;
    position: relative;
    overflow: hidden;
}

.letter_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.letter_inner .title {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 25;
    padding-top: 30px;
}

.letter_contents {
    padding: 90px 0px 100px 0px;
}

.letter_contents a {
    color: #fff;
}

.letter_contents .swiper-slide {
    position: relative;
}

.h_box::after {
    content: attr(data-dot-number);
    font-size: 100px;
    line-height: 100%;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 30px;
    transform: translate(0%, 50%);
    z-index: 20;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.letter_contents .swiper-slide:hover .h_box::after {
    color: #fff;
    transform: translateX(-40%);
    transition: 0.5s ease;
}


.l_hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
}

.letter_contents .swiper-slide:hover .l_hover {
    opacity: 1;
    transition: all 0.5s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: translate(-20px, -20px);
    transition: 0.3s ease 0.3s;
}

.l_inner {
    position: relative;
    width: 328px;
    margin: 0 auto;
}

.l_innerh {
    position: relative;
}

.l_inner p {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
}

.l_inner h3,
.l_innerh h3 {
    position: absolute;
    top: 230px;
    left: 40px;
    font-size: 25px;
    line-height: 100%;
    font-weight: 800;
}

.l_innerh h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.search_inner {
    width: 1320px;
    margin: 0 auto;
}


.letter_contents .swiper-slide-next {
    margin-top: 100px;
}

.c_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

/* subscribe */

#subscribe {
    background: url(../images/s_bg.jpg);
    height: 420px;
    position: relative;
}

.s_inner {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.s_wave {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}

.s_wave h1 {
    color: #fff;
    font-size: 140px;
    line-height: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.s_wave h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #eb3b6c;
}

.s_wave h1:nth-child(2) {
    color: #eb3b6c;
    animation: animate 4s ease-in-out infinite;
}

.s_title {
    padding-top: 100px;
    font-size: 70px;
    line-height: 100%;
    font-weight: 900;
    color: #eb3b6c;
}

#subscribe p a {
    display: block;
    font-size: 70px;
    line-height: 100%;
    font-weight: 900;
    color: #1a3a6b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#subscribe:hover p a {
    opacity: 1;
}

#subscribe:hover .s_inner {
    opacity: 0;
}

/* sns */

#sns {
    padding: 100px 0;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sns .title {
    padding-left: 40px;
}

/* sns-slide */


#slide {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
}

.slide_inner {
    width: 7000px;
    display: flex;
    animation: rotate 20s linear infinite;
}

.slide_inner ul {
    display: flex;
    width: 3500px;
    align-items: flex-start;
    justify-content: space-around;
}

.slide_inner ul li {
    width: 250px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.slide_inner ul li:nth-child(2n) {
    margin-top: 150px;
}

.slide_inner ul li img {
    width: 100%;
}

.slide_inner:hover {
    animation-play-state: paused;
}


#slide p {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

/* sns-heart */

.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
    z-index: 20;
}

.heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
}

/* sns-hover */

.slide_hover1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(105, 115, 255, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide_hover1 p {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    padding-bottom: 110px;
    padding-left: 65px;
}

#slide .slide_inner ul li:hover .slide_hover1 {
    opacity: 1;
}

/* footer */

#footer {
    background-color: rgba(26, 58, 107, 0.9);
    margin-top: 4px;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #fff;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.f_left li {
    padding-bottom: 7px;
}

.f_left li:nth-child(1) {
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 11px;
}

.f_left img {
    width: 115px;
    height: 54px;
}

.f_right ul {
    display: flex;
    justify-content: flex-end;
}

.f_right ul li {
    padding-left: 25px;
}

.f_right ul li:nth-child(1) a img {
    animation: move2 1.4s linear infinite alternate;
}

.f_right ul li:nth-child(2) a img {
    animation: move2 1.2s linear infinite alternate;
}

.f_right ul li:nth-child(3) a img {
    animation: move2 1s linear infinite alternate;
}

.f_right ul {
    padding-bottom: 30px;
}

.f_right p {
    text-align: right;
}

.f_right p:nth-child(2) {
    font-weight: 600;
    padding-bottom: 15px;
}

.f_right p:nth-child(3) {
    padding-bottom: 5px;
}

.f_right p:nth-child(5) {
    font-weight: 400;
    padding-top: 15px;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}


/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.on li a {
    color: red;
}