@font-face {
    font-family: 'Poetsen One';
    src: url('PoetsenOne-Regular.eot');
    src: url('PoetsenOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('PoetsenOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

